bottleneck
fsspec
gsw
jupyter
ipykernel
ipympl
matplotlib
pyserial
netCDF4
numpy
pandas
pytest
scipy
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
docutils
imagesize
tzdata
urllib3
xarray
myst-nb
python-dateutil
python-json-logger
sphinx-rtd-theme
uv
xarray
