bottleneck
netCDF4
numpy
pandas
pyserial
requests
scipy
xarray
Sphinx
nbsphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
docutils
imagesize
tzdata
urllib3
xarray
python-dateutil
python-json-logger
sphinx-rtd-theme
